body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-bg-onsolid);
    color: var(--color-fg-default); // defaul font color
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    font-size: var(--fs-r);
    line-height: 1.4;
}

// fonts family
h1, h2, h3, h4, h5, h6, .ff-heading {
    font-family: var(--ff-heading);
    line-height: 1.1;
}

.ff-body {
    font-family: var(--ff-body);
}

// fonts sizing
h1, .h-h1 {
    font-size: var(--fs-xxl);
}

h2, .h-h2 {
    font-size: var(--fs-xl); 
}

h3, .h-h3 {
    font-size: var(--fs-l); 
}

h4, .h-h4 {
    font-size: var(--fs-m); 
}

p, .fs-regular {
    font-size: var(--fs-r);
}

.fs-special {
    font-size: var(--fs-sp);
}

.fs-s,
small {
    font-size: var(--fs-s);
}

// fonts weight
h1, h2, h3, h4, h5, h6, strong, b, .fw-bold {
    font-weight: var(--fw-bold);
}

.fw-semibold {
    font-weight: var(--fw-semibold);
}

.fw-regular {
    font-weight: var(--fw-regular);
}