:root {

    // fonts family
    --ff-primary: 'Raleway', Arial, sans-serif;
    --ff-secondary: 'Lato', Arial, sans-serif;

    --ff-heading: var(--ff-primary);
    --ff-body: var(--ff-secondary);


    // fonts weight
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;


    // fonts sizing 
    --fs-btn: 1.125rem; // 18px
    --fs-s: 0.875rem; // 14px
    --fs-r: 1rem; // 16px
    --fs-sp: 1.125rem; // 18px
    --fs-m: 1.375rem; // 22px
    --fs-l: 1.75rem; // 28px
    --fs-xl: 2.188rem; // 35px
    --fs-xxl: 2.813rem; // 45px


    // foreground colors foundation
    --fg-default: #222;
    --fg-muted: #6c757d;
    --fg-onsolid: #fff;
    --fg-placeholder: #cecece;

    // foregroud colors role
    --fg-primary: #0074E0;
    --fg-danger: #D30000;
    

    // background colors foundation
    --bg-default: #222;
    --bg-muted: #6c757d;
    --bg-onsolid: #fff;
    --bg-subtle: #f9f9f9;

    // background colors role
    --bg-primary: #0074E0;
    --bg-danger: #D30000;
    --bg-overlay: rgba(0,0,0,0.7);

    // border colors
    --border-default: #ddd;
    --border-primary: #2081D0;
    --border-danger: #D30000;

    // borders colors, radius
    --border-radius-8: 8px;

    // box shadows
    --box-shadow-default: 0px 0px 10px rgba(0,0,0,0.10);

    // grids
    --container-size: 992px;

    --space-4: 4px;
    --space-8: 8px;
    --space-16: 16px;
    --space-24: 24px;
    --space-32: 32px;
    --space-40: 40px;
    --space-48: 48px;
    --space-56: 56px;
    --space-64: 64px;
    --space-72: 72px;


    // transition
    --transition-03: 0.3s ease;
}

@include min-breakpoint(tabletlarge) {
    :root {
        // fonts sizing
        --fs-m: 1.5rem; // 24px
        --fs-l: 2rem; // 32px
        --fs-xl: 3.125rem; // 50px
        --fs-xxl: 4.063rem; // 65px
    }
}

@include min-breakpoint(desktopsmall) {
    :root {
        // grids
        --container-size: 1144px;
    }
}

@include min-breakpoint(desktoplarge) {
    :root {
        // grids
        --container-size: 1344px;
    }
}
