.cta-btn {
  display: block;
  background-color: var(--bg-primary);
  color: var(--fg-onsolid);
  font-family: var(--ff-body);
  font-weight: var(--fw-bold);
  font-size: var(--fs-btn);
  padding: 8px 24px;
}