.accordion-faq {
    list-style-type: none;

    .accordion-item {
        border: 1px solid var(--border-color-light);
        border-radius: var(--border-radius-8);
        margin-bottom: var(--space-24);
    }

    .accordion-button {
        position: relative;
        border-top-left-radius: var(--border-radius-8);
        border-top-right-radius: var(--border-radius-8);
        padding: var(--space-24);
        transition: var(--transition-03);

        a {
            display: flex;
            align-items: center;
            color: inherit;
        }

        svg {
            position: absolute;
            right: 24px;
            width: 40px;
            height: 40px;
            transition: var(--transition-03);
        }
    }

    .accordion-content-wrapper {
        max-height: 0;
        overflow: hidden;
        transition: 0.2s;

        .accordion-content {
            padding: var(--space-24);
        }
    }

    // active state
    .accordion-item.active {
        
        .accordion-item {
            background-color: var(--color-bg-light);
        }

        .accordion-button {
            background-color: var(--color-bg-primary-solid);
            color: var(--color-fg-onsolid);

            svg {
                fill: var(--color-fg-onsolid);
                transform: rotate(-180deg);
            }
        }
    }
}