.banner-home {


    .banner-image {
        img {
            object-fit: cover;
            min-height: 600px;
        }
    }

    .banner-content {

    }
        .banner-title {

        }

        .banner-description {

        }

        .banner-cta {

        }

    // media query
    @include min-breakpoint(desktopsmall) {
        .banner-image {
            img {
                min-height: 450px;
            }
        }
    }
}