/* DEFAULt FOR ALL PAGES */
/* Mixin for Responsive Breakpoints */
:root {
  --ff-primary: "Raleway", Arial, sans-serif;
  --ff-secondary: "Lato", Arial, sans-serif;
  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-secondary);
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fs-btn: 1.125rem;
  --fs-s: 0.875rem;
  --fs-r: 1rem;
  --fs-sp: 1.125rem;
  --fs-m: 1.375rem;
  --fs-l: 1.75rem;
  --fs-xl: 2.188rem;
  --fs-xxl: 2.813rem;
  --fg-default: #222;
  --fg-muted: #6c757d;
  --fg-onsolid: #fff;
  --fg-placeholder: #cecece;
  --fg-primary: #0074E0;
  --fg-danger: #D30000;
  --bg-default: #222;
  --bg-muted: #6c757d;
  --bg-onsolid: #fff;
  --bg-subtle: #f9f9f9;
  --bg-primary: #0074E0;
  --bg-danger: #D30000;
  --bg-overlay: rgba(0,0,0,0.7);
  --border-default: #ddd;
  --border-primary: #2081D0;
  --border-danger: #D30000;
  --border-radius-8: 8px;
  --box-shadow-default: 0px 0px 10px rgba(0,0,0,0.10);
  --container-size: 992px;
  --space-4: 4px;
  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
  --space-64: 64px;
  --space-72: 72px;
  --transition-03: 0.3s ease;
}

@media (min-width: 992px) {
  :root {
    --fs-m: 1.5rem;
    --fs-l: 2rem;
    --fs-xl: 3.125rem;
    --fs-xxl: 4.063rem;
  }
}
@media (min-width: 1200px) {
  :root {
    --container-size: 1144px;
  }
}
@media (min-width: 1400px) {
  :root {
    --container-size: 1344px;
  }
}
/* RESET AND NORMALIZE CSS */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

* {
  scroll-margin-top: 135px;
}
@media screen and (min-width: 1200px) {
  * {
    scroll-margin-top: 110px;
  }
}

html {
  scroll-behavior: smooth;
}

ul, ol {
  list-style: none;
}

a, button {
  cursor: revert;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-onsolid);
  color: var(--fg-default);
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  font-size: var(--fs-r);
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, .ff-heading {
  font-family: var(--ff-heading);
  line-height: 1.1;
}

.ff-body {
  font-family: var(--ff-body);
}

h1, .h-h1 {
  font-size: var(--fs-xxl);
}

h2, .h-h2 {
  font-size: var(--fs-xl);
}

h3, .h-h3 {
  font-size: var(--fs-l);
}

h4, .h-h4 {
  font-size: var(--fs-m);
}

p, .fs-regular {
  font-size: var(--fs-r);
}

.fs-special {
  font-size: var(--fs-sp);
}

.fs-s,
small {
  font-size: var(--fs-s);
}

h1, h2, h3, h4, h5, h6, strong, b, .fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semibold {
  font-weight: var(--fw-semibold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

br.s-desktop {
  display: none;
}
@media (min-width: 1200px) {
  br.s-desktop {
    display: block;
  }
}

br.s-mobile {
  display: block;
}
@media (min-width: mobilelarge) {
  br.s-mobile {
    display: none;
  }
}

.t-wrap {
  white-space: nowrap;
}

.v-hide {
  display: none;
}

.v-show {
  display: block;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

/* THIRD PARTY PLUGIN  */
/* DEFAULT LAYOUT ALL PAGES */
.container {
  width: 100%;
  max-width: var(--container-size);
  padding-left: var(--space-24);
  padding-right: var(--space-24);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .container {
    max-width: var(--container-size);
    padding-left: var(--space-32);
    padding-right: var(--space-32);
  }
}

.sec.sec-ptb {
  padding: var(--space-72) 0;
}
.sec.sec-gray {
  background-color: var(--bg-subtle);
}
.sec .sec-title {
  margin: 0 0 var(--space-48) 0;
}
.sec .sec-title .sec-heading {
  position: relative;
  margin-top: -8px;
}
.sec .sec-title .sec-heading::before {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 5px;
  background-color: var(--fg-primary);
}
.sec .sec-title .sec-heading + .sec-description {
  margin: var(--space-40) 0 0 0;
}
.sec .sec-title.sec-title-center {
  text-align: center;
}

.banner-home {
  position: relative;
}
.banner-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-overlay);
}
.banner-home .banner-image img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 600px;
}
.banner-home .banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: var(--fg-onsolid);
}
.banner-home .banner-title {
  margin-bottom: var(--space-16);
}
.banner-home .banner-cta {
  margin-top: var(--space-24);
}
@media (min-width: 1200px) {
  .banner-home .banner-image img {
    min-height: 400px;
  }
  .banner-home .banner-description {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
  }
}

.cta-btn {
  cursor: pointer;
  display: inline-block;
  background-color: var(--bg-default);
  color: var(--fg-onsolid);
  border-radius: var(--border-radius-8);
  text-transform: uppercase;
  font-family: var(--ff-body);
  font-weight: var(--fw-bold);
  font-size: var(--fs-r);
  padding: 10px 25px;
  -webkit-transition: var(--transition-03);
  transition: var(--transition-03);
}
.cta-btn:hover {
  background-color: var(--bg-primary);
}
.cta-btn.cta-primary {
  background-color: var(--bg-primary);
}
.cta-btn.cta-primary:hover {
  background-color: var(--bg-default);
  color: var(--fg-onsolid);
}
.cta-btn.cta-white {
  background-color: var(--bg-onsolid);
  color: var(--fg-primary);
}
.cta-btn.cta-white:hover {
  background-color: var(--bg-primary);
  color: var(--fg-onsolid);
}
.cta-btn.cta-btn-lg {
  font-size: var(--fs-btn);
  padding: 15px 40px;
}

button {
  border: none;
}