/* DEFAULt FOR ALL PAGES */
/* Mixin for Responsive Breakpoints */
:root {
  --ff-primary: "Raleway", Arial, sans-serif;
  --ff-secondary: "Lato", Arial, sans-serif;
  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-secondary);
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fs-btn: 1.125rem;
  --fs-s: 0.875rem;
  --fs-r: 1rem;
  --fs-sp: 1.125rem;
  --fs-m: 1.375rem;
  --fs-l: 1.75rem;
  --fs-xl: 2.188rem;
  --fs-xxl: 2.813rem;
  --fg-default: #222;
  --fg-muted: #6c757d;
  --fg-onsolid: #fff;
  --fg-placeholder: #cecece;
  --fg-primary: #0074E0;
  --fg-danger: #D30000;
  --bg-default: #222;
  --bg-muted: #6c757d;
  --bg-onsolid: #fff;
  --bg-subtle: #f9f9f9;
  --bg-primary: #0074E0;
  --bg-danger: #D30000;
  --bg-overlay: rgba(0,0,0,0.7);
  --border-default: #ddd;
  --border-primary: #2081D0;
  --border-danger: #D30000;
  --border-radius-8: 8px;
  --box-shadow-default: 0px 0px 10px rgba(0,0,0,0.10);
  --container-size: 992px;
  --space-4: 4px;
  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
  --space-64: 64px;
  --space-72: 72px;
  --transition-03: 0.3s ease;
}

@media (min-width: 992px) {
  :root {
    --fs-m: 1.5rem;
    --fs-l: 2rem;
    --fs-xl: 3.125rem;
    --fs-xxl: 4.063rem;
  }
}
@media (min-width: 1200px) {
  :root {
    --container-size: 1144px;
  }
}
@media (min-width: 1400px) {
  :root {
    --container-size: 1344px;
  }
}
/* RESET AND NORMALIZE CSS */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

* {
  scroll-margin-top: 135px;
}
@media screen and (min-width: 1200px) {
  * {
    scroll-margin-top: 110px;
  }
}

html {
  scroll-behavior: smooth;
}

ul, ol {
  list-style: none;
}

a, button {
  cursor: revert;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-onsolid);
  color: var(--fg-default);
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  font-size: var(--fs-r);
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, .ff-heading {
  font-family: var(--ff-heading);
  line-height: 1.1;
}

.ff-body {
  font-family: var(--ff-body);
}

h1, .h-h1 {
  font-size: var(--fs-xxl);
}

h2, .h-h2 {
  font-size: var(--fs-xl);
}

h3, .h-h3 {
  font-size: var(--fs-l);
}

h4, .h-h4 {
  font-size: var(--fs-m);
}

p, .fs-regular {
  font-size: var(--fs-r);
}

.fs-special {
  font-size: var(--fs-sp);
}

.fs-s,
small {
  font-size: var(--fs-s);
}

h1, h2, h3, h4, h5, h6, strong, b, .fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semibold {
  font-weight: var(--fw-semibold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

br.s-desktop {
  display: none;
}
@media (min-width: 1200px) {
  br.s-desktop {
    display: block;
  }
}

br.s-mobile {
  display: block;
}
@media (min-width: mobilelarge) {
  br.s-mobile {
    display: none;
  }
}

.t-wrap {
  white-space: nowrap;
}

.v-hide {
  display: none;
}

.v-show {
  display: block;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

/* DEFAULT LAYOUT ALL PAGES */
.container {
  width: 100%;
  max-width: var(--container-size);
  padding-left: var(--space-24);
  padding-right: var(--space-24);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .container {
    max-width: var(--container-size);
    padding-left: var(--space-32);
    padding-right: var(--space-32);
  }
}

/* STYLE FOR README ONLY */
.readme-sec {
  height: 100vh;
}
.readme-sec .fsm-xxl {
  font-size: 2rem;
}
.readme-sec .fsm-xl {
  font-size: 1.5rem;
}
.readme-sec .fsm-l {
  font-size: 1.25rem;
}
.readme-sec .fsm-m {
  font-size: 1.125rem;
}
.readme-sec .container-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.readme-sec .container-full aside,
.readme-sec .container-full article {
  overflow-y: auto;
}
.readme-sec .container-full aside {
  width: 20%;
  padding: var(--space-24);
  border-right: 1px solid rgba(27, 31, 36, 0.15);
}
.readme-sec .container-full aside p {
  color: var(--clr-primary-500);
  margin-bottom: var(--space-16);
}
.readme-sec .container-full aside ul li {
  color: var(--clr-primary-1000);
  font-family: var(--ff-heading);
  font-weight: var(--fw-regular);
  font-size: var(--fs-r);
  margin: 0 0 var(--space-24) 0;
}
.readme-sec .container-full aside ul li a {
  color: inherit;
  padding: 8px 16px;
}
.readme-sec .container-full aside ul li a.active-menu {
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 4px;
  border-left: 3px solid var(--clr-primary-1000);
}
.readme-sec .container-full aside ul li:last-child {
  margin-bottom: 0;
}
.readme-sec .container-full article {
  width: 80%;
  padding: var(--space-48);
}
.readme-sec table {
  border-collapse: separate;
  border-spacing: 0px;
  overflow: auto;
  width: 100%;
  margin: 0 0 var(--space-16) 0;
}
.readme-sec table p, .readme-sec table h3, .readme-sec table h4 {
  margin-bottom: 0 !important;
}
.readme-sec table th,
.readme-sec table td {
  padding: var(--space-16);
  border-color: #d8dee4;
  border-style: solid;
  border-width: 1px 0px 0px 1px;
}
.readme-sec table th:last-child,
.readme-sec table td:last-child {
  border-right-width: 1px;
}
.readme-sec table thead th {
  background-color: rgba(234, 238, 242, 0.5);
  font-weight: var(--fw-semi-bold);
}
.readme-sec table thead th:first-child {
  border-top-left-radius: 8px;
}
.readme-sec table thead th:last-child {
  border-top-right-radius: 8px;
}
.readme-sec table tbody code {
  padding: 0.2em 0.4em;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 4px;
}
.readme-sec table tbody tr:last-child td {
  border-bottom-width: 1px;
}
.readme-sec table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
.readme-sec table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
.readme-sec .readme-group {
  display: none;
  margin: 0 0 var(--space-40) 0;
}
.readme-sec .readme-group.active {
  display: block;
}
.readme-sec .readme-group:last-child {
  margin-bottom: 0;
}
.readme-sec .readme-group ol,
.readme-sec .readme-group ul {
  padding-left: 17px;
}
.readme-sec .readme-group ol li,
.readme-sec .readme-group ul li {
  line-height: 1.8;
}
.readme-sec .readme-group ul {
  list-style-type: disc;
}
.readme-sec .readme-group ol {
  list-style-type: decimal;
}
.readme-sec .readme-group .readme-head {
  margin: 0 0 var(--space-32) 0;
}
.readme-sec .readme-group .readme-head h2 {
  margin: 0 0 var(--space-8) 0;
}
.readme-sec .readme-group .readme-head .readme-subheading {
  margin-bottom: var(--space-40);
}
.readme-sec .readme-group .readme-body h3, .readme-sec .readme-group .readme-body h4 {
  margin: 0 0 var(--space-16) 0;
}
.readme-sec .readme-group .readme-body table, .readme-sec .readme-group .readme-body ul, .readme-sec .readme-group .readme-body ol, .readme-sec .readme-group .readme-body img, .readme-sec .readme-group .readme-body p {
  margin: 0 0 var(--space-24) 0;
}
.readme-sec .readme-group .readme-body p.mb-0 {
  margin-bottom: 0;
}
.readme-sec .readme-group .readme-body p code {
  display: inline-block;
  margin-bottom: 6px;
}
.readme-sec .readme-group .readme-body code.t {
  padding: 0.2em 0.4em;
  background-color: rgba(175, 184, 193, 0.2);
  color: #084298;
  border-radius: 4px;
  font-weight: var(--fw-bold);
  font-size: var(--fs-s);
}
.readme-sec .c-box {
  position: relative;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  top: 6px;
  margin-right: 8px;
}
.readme-sec .c-box.fg-default {
  background-color: var(--fg-default);
}
.readme-sec .c-box.fg-muted {
  background-color: var(--fg-muted);
}
.readme-sec .c-box.fg-onsolid {
  background-color: var(--fg-onsolid);
}
.readme-sec .c-box.fg-placeholder {
  background-color: var(--fg-placeholder);
}
.readme-sec .c-box.fg-primary {
  background-color: var(--fg-primary);
}
.readme-sec .c-box.fg-danger {
  background-color: var(--fg-danger);
}
.readme-sec .c-box.bg-default {
  background-color: var(--bg-default);
}
.readme-sec .c-box.bg-muted {
  background-color: var(--bg-muted);
}
.readme-sec .c-box.bg-onsolid {
  background-color: var(--bg-onsolid);
}
.readme-sec .c-box.bg-subtle {
  background-color: var(--bg-subtle);
}
.readme-sec .c-box.bg-primary {
  background-color: var(--bg-primary);
}
.readme-sec .c-box.bg-danger {
  background-color: var(--bg-danger);
}
.readme-sec .c-box.bg-overlay {
  background-color: var(--bg-overlay);
}
.readme-sec .c-box.border-default {
  background-color: var(--border-default);
}
.readme-sec .c-box.border-primary {
  background-color: var(--border-primary);
}
.readme-sec .c-box.border-danger {
  background-color: var(--border-danger);
}
.readme-sec code {
  font-family: monospace;
}
.readme-sec .cp,
.readme-sec .nt {
  color: #c6303e;
}
.readme-sec .na {
  color: #6f42c1;
}
.readme-sec .o,
.readme-sec .p {
  color: #333;
}
.readme-sec .s {
  color: #084298;
}
.readme-sec .bd-code-snippet {
  border: 1px solid #d8dee4;
  border-radius: 8px;
  margin-bottom: var(--space-24);
}
.readme-sec .bd-code-snippet .highlight {
  position: relative;
  background-color: rgba(234, 238, 242, 0.5);
  padding: var(--space-24);
}
.readme-sec .bd-code-snippet .highlight pre {
  text-align: left;
  display: block;
  white-space: pre;
  font-family: monospace;
}
.readme-sec .bd-code-snippet .highlight pre code {
  word-wrap: normal;
  word-break: normal;
}