.container {
    width: 100%;
    max-width: var(--container-size);
    padding-left: var(--gutter-space-16);
    padding-right: var(--gutter-space-16);
    margin-left: auto;
    margin-right: auto;

    @include min-breakpoint(desktopsmall) {
        max-width: var(--container-size);
        padding-left: var(--gutter-space-32);
        padding-right: var(--gutter-space-32);
    }   
}